/* Typography overrides for Tacheyons */

a {
	text-decoration: none;
	color: #C7854B;
	font-family: inherit;
}

p, span {
	font-family: 'Adelle', georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Abril Fatface', serif;
}

h1 {
	display: none;
}

.leather { color: #C7854B; }
.moon { font-family: 'moon', 'helvetica neue', helvetica, sans-serif; }


/* Font Face */

@font-face {
    font-family: 'Adelle';
    src: url('../fonts/adelle.woff2') format('font-woff2'),
    	 url('../fonts/adelle.woff') format('font-woff');
}
@font-face {
    font-family: 'Adelle';
    src: url('../fonts/adelle-bold.woff2') format('font-woff2'),
    	 url('../fonts/adelle-bold.woff') format('font-woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Adelle';
    src: url('../fonts/adelle-extrabold.woff2') format('font-woff2'),
    	 url('../fonts/adelle-extrabold.woff') format('font-woff');
    font-weight: 800;
}
@font-face {
    font-family: 'Adelle';
    src: url('../fonts/adelle-light.woff2') format('font-woff2'),
    	 url('../fonts/adelle-light.woff') format('font-woff');
    font-weight: lighter;
}