/* Typography overrides for Tacheyons */

a {
	text-decoration: none;
	color: #C7854B;
	font-family: inherit;
}

p, span {
	font-family: 'Adelle', georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Abril Fatface', serif;
	letter-spacing: .04em;
	
}

.tracked-header { letter-spacing: .02em; }

h1 {
	display: none;
}

.leather { color: #C7854B; }
.moon { font-family: 'moon', 'helvetica neue', helvetica, sans-serif; }
.adelle { font-family: 'Adelle', georgia, serif; }
.abril { font-family: 'Abril', 'helvetica neue', helvetica, sans-serif; }

.nav-logo { width: 2em; height: 2em; }